.footer__link {
    margin: 0;
    margin-right: 18px;
    font-family: 'Inter Regular';
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    
    color: #FFFFFF;
}

