.cover {
    position: relative;
    margin: 0 auto;
    margin-top: 92px;
    background-image: url(../../images/cover-trains.jpg);
    width: 1184px;
    height: 740px;
    background-size: contain;
}