.cover__title {
    position: relative;
    margin: 0 auto;
    padding-top: 250px;
    font-family: 'Inter Bold';
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    z-index: 1;
    
    color: #FFFFFF;
    

}