.place__url-heading {
    margin: 0;
    font-family: 'Inter Regular';
    font-size: 12px;
    line-height: 12px;
/* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #AAAAAA;

}